<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="p-5 pt-2">
            <img class="img-fluid w-100" src="assets/PHSVison.png"/>
            <h4 class="mt-3">Our Mission</h4>
            <p>To help all types of accommodation providers – be it homestays, serviced villas, hotels, or resorts – gain visibility and connect with their ideal travellers. To help hospitality businesses thrive in a competitive market.
            </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-5 pt-2">
            <img class="img-fluid w-100" src="assets/PHSMission.png"/>
            <h4 class="mt-3">Our Vision</h4>
            <p>To empower accommodation providers around the world by enabling seamless operations through cutting-edge channel management solutions as well as expert consultancy.</p>
            </div>
        </div>
    </div>
</div>