@import '../../../styles.scss';
.profile-img{
    max-width: 150px;
}
p{
    &.designation{
        font-weight: bold;
        color: $primary-color;
    }
}

.career-div{
    background: rgb(34, 86, 189);
    background: linear-gradient(95deg, rgb(34, 86, 189) 0%, rgb(48, 78, 146) 100%);
    border-radius: 30px 30px 0 30px;
    margin-bottom: 30px;
    color: $third-color;
    p{
        span{
            opacity: 0.5;
        }
    }
}

.contact-btn{
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    cursor: pointer;
    &.secondary{
        background-color: $secondary-color;
        color: $third-color;
    }
}


// Animate the size, outside
.pulse,
.pulse:focus {
animation: pulse 1s infinite;
background-color: $third-color;
border: 0;
}





@keyframes pulse {
0% {
    box-shadow: 0 0 0 0 $third-color;
}

80% {
    box-shadow: 0 0 0 2em transparent;
}
}