.key-card{
    width: 25%;
    max-width: 250px;
    height: 250px;
    background-color: #2557C6;
    border-radius: 10px;
    .mat-icon{
        width: 70px;
        height: 70px;
    }
    h6{
        color: white;
    }
}