<section>
    <app-menu></app-menu>
    <app-banner
    [homeClass] = "homeClass"
    [videoStat] = "videoStat"
    [subPageStat]="subPageStat"
    [subPage] = "subPage"
    [bannerTitle]="bannerTitlefst" 
    [bannerSecond]="bannerTitlesnd"
    [bannerDescription]="bannerDescription" 
    [primaryButtonText]="primaryButtonText" 
    [secondaryButtonText]="secondaryButtonText"></app-banner>
</section>
<section class="p-3">
    <app-about-phs></app-about-phs>
    <app-info-banner></app-info-banner>
</section>
<section>
    <app-vision-and-mission></app-vision-and-mission>
</section>
<!-- <img src="assets/Sample/about01.gif" class="img-fluid"/> -->
<section>
    <app-footer></app-footer>
</section>