<section>
    <app-menu></app-menu>
    <app-banner
    [homeClass] = "homeClass"
    [videoStat] = "videoStat"
    [subPageStat]="subPageStat"
    [subPage] = "subPage"
    [bannerTitle]="bannerTitlefst" 
    [bannerSecond]="bannerTitlesnd"
    [bannerDescription]="bannerDescription" 
    [primaryButtonText]="primaryButtonText" 
    [secondaryButtonText]="secondaryButtonText"></app-banner>
</section>
<section class="p-3">
    <app-product-list></app-product-list>
</section>
<section>
    <app-footer></app-footer>
</section>