<div class="row">
<div class="col-md-7">
    <div class="d-flex flex-column justify-content-center h-100">
        <h4 class="mb-4">{{productName}}</h4>
        <p>{{productDetails1}}</p>
        <p *ngIf="productDetails2">{{productDetails2}}</p>
        <p *ngIf="productDetails3">{{productDetails3}}</p>
        <p *ngIf="productDetails4">{{productDetails4}}</p>
        <p *ngIf="productDetails5">{{productDetails5}}</p>
        <p *ngIf="productDetails6">{{productDetails6}}</p>
    </div>
</div>
<div class="col-md-5">
    <img src="assets/{{prodImage}}" class="img-fluid"/>
</div>
</div>