<div class="container pt-5 pb-5 mt-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="assets/about.png"/>
        </div>
        <div class="col-md-6">
            <h1>Property Management<br/>with Perfect Hands Solutions</h1>
            <p>
                PHS makes property management easy. We give you the two most essential things: advanced property management technology and industry expertise.
Our PHS Channel Manager software handles your property needs at competitive rates. You can customise it to work exactly how you want. 
Our team of experts provide comprehensive hospitality services — marketing, recruitment, hotel setup, IT infrastructure, construction, and procurement. 
We've also partnered with top hotel chains to give you even more opportunities that drive your growth.  
We handle the complex stuff while you focus on your guests.
PHS — where cutting-edge technology meets hands-on hospitality expertise. 
            </p>
        </div>
    </div>
</div>