<section>
    <app-menu></app-menu>
    <app-banner
    [homeClass]="homeClass"
    [subPageStat]="subPageStat"
    [subPage] = "subPage"
    [bannerTitle]="bannerTitlefst" 
    [bannerSecond]="bannerTitlesnd"
    [bannerDescription]="bannerDescription" 
    [primaryButtonText]="primaryButtonText" 
    [secondaryButtonText]="secondaryButtonText"></app-banner>
</section>
<app-chat-boat></app-chat-boat>
<section class="shadow-1 px-3 px-md-0" style="background-color: #fff;">
    <app-hm-about></app-hm-about>
</section>
<section style="background-color: #fff;" class="px-3 px-md-0">
    <app-hm-product></app-hm-product>
</section>
    <app-statitics></app-statitics>
<!-- <section>
    <app-service></app-service>
</section> -->
<section>
    <app-partners></app-partners>
</section>
<section>
    <app-testimonials></app-testimonials>
</section>
<section>
    <app-footer></app-footer>
</section>